@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SFCompactDisplay-Bold';
    font-family: 'SFCompactDisplay-Heavy';
    font-family: 'SFCompactDisplay-Regular';
    src: url("/src/assets/fonts/SFCompactDisplay-Bold.otf") format('opentype'),
        url("/src/assets/fonts/SFCompactDisplay-Heavy.otf") format('opentype'),
        url("/src/assets/fonts/SFCompactDisplay-Regular.otf") format('opentype'),
        url("/src/assets/fonts/SFCompactDisplay-Thin.otf") format('opentype');
}

.logo h1 {
    font-family: 'SFCompactDisplay-Regular', sans-serif !important;
    font-size: 2.5rem;
}

.calendarDropDown {
    display: none;
    transform: scaleY(0);
    transform-origin: top;
    background-color: transparent;
}

.calendarDropDown.active {
    display: block;
    animation: slideIn 0.3s forwards;
}

.calendar.active:hover {
    border-radius: 0.25rem 0.25rem 0 0;
}

@keyframes slideIn {
    from {
        transform: scaleY(0);
        background-color: transparent;
        border-radius: 0 0 0.5rem 0.5rem;
    }

    to {
        transform: scaleY(1);
        background-color: #d2e7fe;
        border-radius: 0 0 0.5rem 0.5rem;
    }
}